@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-chubby/css/uicons-thin-chubby.css');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(248, 244, 244);
}
.containerContact{
    display: flex;
    flex-direction: column;

}
.getTocuhContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.getTocuhContainer h1{
    margin-top: 100px;
    font-size: 25px;
      font-family:"Poppins";
      font-weight: 500;
}
.getTocuhContainer p{
 font-size: 20px;   
color: rgb(72, 70, 70);
text-align: center;
margin: 5px;
}
.informationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.informationContainer .contactInformation{
    display: flex;
    flex-direction: column;
}
.informationContainer .contactInformation .information{
    display: flex;
    flex-direction:row;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
     font-family:"Poppins";
}
.informationContainer .contactInformation .information i{
font-size: 20px;
color: green;
margin: 16px;

}
.informationContainer .contactInformation .information p{
margin: 10px;
    color: gray;
    font-size: 15px;
    
}
.information .addressContainer .informationHead{
    color: black !important;
    font-weight: 500 !important;
    font-size: 15px;
    margin-top: 5px !important;
}
.bussinessTime{
    color: black !important;
    font-weight: 500 !important;
    font-size: 15px;
    position: relative;
    top: 10px;
}
.informationContainer .contactInformation .information .iconContainer{
display: flex;
flex-direction: column;
}
.informationContainer .contactInformation .information .addressContainer{
display: flex;
flex-direction: column;
}

/* contact form start */
.contactform{
  padding: 25px ;
  border: 2px solid gray; 
  margin: 10px; 
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
     font-family:"Poppins";
     background-color: white;
     display: flex;
     flex-direction: column;
    width: 34%;
}
.contactform p{
    color: black;
    font-size: 15px;
    font-weight: 350;
    letter-spacing: 1px;
}
.contactform .messageCon{
    display: flex;
    flex-direction: row;
    
}
.contactform .messageCon label{
    font-weight: 550;
    font-size: 13px;
    margin: 25px 10px 3px 0px;
}
.contactform .messageCon input,select{
    padding: 13px 25px;
      margin: 0px 20px 0px 0px;
      border: 1px solid rgb(239, 237, 237);
      border-radius: 9px;
      background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.contactform .messageCon input:focus,select:focus{
    border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
.contactform .messageCon .firstRow{
display: flex;
flex-direction: column;
}
.contactform .messageCon .secrow{
    display: flex;
    flex-direction: column;
}
.contactform label{
font-weight: 550;
    font-size: 13px;
    margin: 25px 10px 3px 0px;
}
.contactform input{
  padding: 13px 20px;
      margin: 0px 20px 0px 0px;
      border: 1px solid rgb(239, 237, 237);
      border-radius: 9px;
      background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;   
}
.contactform input:focus{
  border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;   
}

.contactform .agreement p{
font-size: 12px;
color: black;
font-weight: 520;
letter-spacing: 0px;
margin-left: 30px;
position: relative;
 margin:20px 25px 0px 25px;
}
.contactform .agreement input{
  position: absolute;
margin-top: 25px;
cursor: pointer;
}
.contactform .responseMe{
    font-size: 11px;
    color: rgb(54, 53, 53);
    letter-spacing: 0px;
    padding: 10px;
    
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    background-color: rgb(243, 241, 241);
    border-radius: 10px;
}
.contactform i{
    font-size: 15px;
    color: white;
    margin: 15px 15px 0px 0px;
}
.contactform .sendMessage{
    background-color: rgb(5, 208, 5);
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    transition:  0.3s ease  
}
.contactform .sendMessage:hover{
   background-color: green; 
}

/* customer review start */
.customerFeedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.customerFeedContainer h1{
    margin-top: 10px;
    font-size: 25px;
      font-family:"Poppins";
      font-weight: 500;
}
.customerFeedContainer p{
   font-size: 20px;   
color: rgb(72, 70, 70);
text-align: center;
margin: 5px;  
}

.customerFeedContainer .reviewContainer{
    display: flex;
    flex-direction: row;
  
}

.customerFeedContainer .reviewContainer .submitReview{
  display: flex;
  flex-direction: column; 
  margin: 5px;
  height: max-content;
  padding: 25px ;
margin: 10px; 
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
     font-family:"Poppins";
     background-color: white;
   
}
.submitReview i{
    font-size: 21px;
    color: green;
    margin: 17px 10px 0px 0px;
}
.submitReview p{
    color: black;
    font-size: 15px;
    font-weight: 450;
    letter-spacing: 1px;
}
.submitReview label{
    font-weight: 550;
    font-size: 13px;
   margin-top:15px;
}
.submitReview input,textarea{
    padding: 13px 25px;
      margin: 5px 0px 0px 0px;
      border: 1px solid rgb(241, 236, 236);
      border-radius: 9px;
      background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.submitReview input,textarea:focus{
    border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
.submitReview .rating i{
    font-size: 18px;
    color: rgb(113, 113, 112);
    margin: 10px 5px 0px 0px;
    cursor: pointer;
}
 .submitReview .rating i:hover{
color: orange;
 }  
.submitReview .chooseOp button{
   padding: 3px 13px;
   border: 1px solid rgb(223, 221, 221);
   cursor: pointer;
   border-radius: 8px;
     font-family:"Poppins";
     font-weight: 550;
     font-size: 14px;
margin-top: 6px;
}
.submitReview .chooseOp .no:hover{
background-color: red; 
color: white;
}
.submitReview .chooseOp .yes:hover{
background-color: green; 
color: white;
}
.submitReview .chooseOp i{
    color: black;
   margin-top: 10px;
}
.submitReview .chooseOp i:hover{
    color: white;
}
.submitReview .sendmessage{
    background-color:green;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    margin-top: 20px;
    transition:  0.3s ease    
}
.submitReview .sendmessage:hover{
background-color: rgb(2, 168, 2);
}

.cusReviews{
display: flex;
flex-direction: column;

}
.cusReviews .cusRating{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 7px;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
  margin: 10px;
}
.cusRating .rateStar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}
.cusRating .rateStar span{
    font-size: 45px;
    color: rgb(13, 185, 13);
         font-family:"Poppins";
         font-weight: 400;
}
.cusRating .rateStar .rating i{
    color: orange;
    font-size: 15px;
}
.cusRating .rateStar p{
color: gray;
font-size: 15px;
}
.totalReviews{
    display: flex;
    flex-direction:column;
    padding: 20px 20px;
}
.totalReviews .reviewBar{
    display: flex;
    flex-direction: row;
    margin: 4px;

}
.totalReviews .reviewBar span{
    color: gray;
    font-size: 13px;
    padding:0px !important;
}
.totalReviews .reviewBar  span i{
font-size: 11px !important;
margin-right: 5px !important;
}
.totalReviews .reviewBar p{
   color: gray;
    font-size: 13px;
    padding:0px !important;
    margin: 0px 6px !important;
}
.progressBar ,.progressBar-1,.progressBar-2,.progressBar-3{
    background: rgb(236, 235, 235);
    border-radius: 13px;
    height: 8px;
    width: 200px;
    margin-top: 5px;
}
.progressBar:after {
    content: '';
    display: block;
    background: #ffd900;
    width: 50%;
    height: 100%;
    border-radius: 9px;
  
}
/* customer review end  */
/* customer review section  */
.cusReviews h1{
     margin-top: 10px;
    font-size: 19px;
      font-family:"Poppins";
      font-weight: 500;  
      margin: 20px 0px 20px 10px;
}
.cusReviews .reviewSection{
    display: flex;
    flex-direction: column;
   border-radius: 8px;
    border: 1px solid rgb(233, 230, 230);
   padding:25px;
   background-color:white;
   margin: 10px;
}
.cusReviews .writeReview{
display: flex;
flex-direction: row;
align-items: start;
}
.cusReviews .writeReview span{
color: green;
border-radius: 60%;
padding: 10px 12px;
font-weight: 400;
font-size: 15px;
background-color: rgb(191, 249, 191);
font-family:"Poppins";
}
.cusReviews .writeReview p{
   color: black; 
   font-family:"Poppins";
   font-size: 14px;
   margin-left: 15px;
   margin-bottom: 0px !important;
}
.cusReviews .writeReview .rating{
 margin-left: 15px;
}
.cusReviews .writeReview .rating .check-4{
  font-size: 12px;
    color: orange;
}
.cusReviews .writeReview .rating .check-no{
  font-size: 12px;
    color:gray;
}

.cusReviews .writeReview #verify{
    border: 1px solid green;
    background-color: none !important;
    padding: 3px;
    font-size: 12px;
    border-radius: 10px;
    color: green;
}
.cusReviews .writeReview #date{
    color: gray;
    font-size: 15px;
    font-weight: 400;
margin-left: 400px; 
}
.reviewSection p{
    color: rgb(67, 65, 65);
    font-size: 17px;
    margin: 10px;
}
/* footer section started */
footer{
    background-color:#000d1a;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
footer .ContactDetails{
    display: flex;
    flex-direction: row;
}
footer .ContactDetails .AmVegLogo{
width: 40%;
}
footer .ContactDetails .AmVegLogo>div{
    display:inline-flex;
}
footer .ContactDetails .AmVegLogo i{
    background-color: rgb(4, 162, 4);
    padding: 10px 14px;
    border-radius: 7px;
}
footer .ContactDetails .AmVegLogo h1{
 margin-left: 10px;
font-size: 20px;
font-family:"Poppins";
font-weight: 400;
line-height: 20px;
}
footer .ContactDetails .AmVegLogo span{
    font-size: 13px;
    color: gray;
}
footer .ContactDetails .AmVegLogo p{
   margin:20px 10px 10px 0px; 
   font-family:"Poppins";
   font-size: 14px;
   text-align: justify;
}
footer .ContactDetails .company,.products,.services,.support{
margin: 0px 10px 10px 60px;
  font-family:"Poppins";
  font-weight: 550;
}
footer .ContactDetails ul{
list-style-type: none;
margin-top: 10px;
cursor: pointer;
}
footer .ContactDetails ul li{
margin-top:7px;
font-weight: 400;
color: gray;
}
footer .ContactDetails ul li:hover{
    color: rgb(9, 184, 9);
}
footer .Contact{
    display: flex;
    flex-direction: row;
}
footer .Contact .contactInfo{
    display: flex;
}
footer .Contact .contactInfo .contactLogo{
    display: flex;
    flex-direction: column;
}
footer .Contact .contactInfo .contactLogo i{
    color: rgb(3, 170, 3);
    margin-top: 10px;
}
footer .Contact .contactInfo .contacted p{
   margin: 10px 15px 0px 15px; 
}
footer .Contact .followus p{
  font-family:"Poppins";
  font-weight: 550;
}
footer .Contact .followus>div{
 margin-top:10px;
}
footer .Contact .followus i{
   margin-right: 15px;
    background-color:#041f3b;
    padding: 7px 8px 3px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
footer .Contact .followus i:hover{
    color:white;
    background-color:green ;
}
footer .verticalLine{
height: 1px;
width: 100%;
background-color:#041f3b;
margin: 50px 10px 10px 10px;
}
footer .newsLetter{
    display: flex;
    flex-direction: row;
 margin-top: 40px;
}
footer .newsLetter h1{
  margin-left: 10px;
font-size: 20px;
font-family:"Poppins";
font-weight: 400;
line-height: 30px;  
font-size: 20px; 
}
footer .newsLetter span{
       font-size: 15px;
   color: gray;
   font-family:"Poppins";
font-weight: 300;
letter-spacing: .5px;
}
footer .newsLetter input{
background-color:#041f3b;
margin:20px 10px 0px 70px;
padding: 14px 90px;
outline: none;
border: 1px solid #041f3b ;
border-radius: 8px;
}
footer .newsLetter button{
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 10px 35px !important;
    margin:20px 10px 0px 0px;
    color: white;
    font-family:"Poppins";
    cursor: pointer;
}
footer .newsLetter button:hover{
    background-color: rgb(3, 86, 3);
}
footer .copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 40px;
}
footer .copyright p{
 font-size: 15px;
   color: gray;
   font-family:"Poppins";
   font-weight: 300;   
}
footer .copyright ul{
    display:inline-flex;
    list-style-type: none;
}
footer .copyright ul li{
    margin-right: 24px;
    cursor: pointer;
      font-size: 15px;
       color: gray;
   font-family:"Poppins";
}
footer .copyright ul li:hover{
    color: green;
  
}

/* mobile based responsive design start */
@media screen and (max-width:767px)and (max-width:960px){
.informationContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactform{
   border: 1px solid rgb(220, 219, 219);
   width: 70%;
}
.contactform .messageCon{
flex-direction:column;
}
.customerFeedContainer .reviewContainer{
 flex-direction:column;
 justify-content:center;
 align-items: center;
}
.customerFeedContainer .reviewContainer .submitReview{
  display: flex;
  flex-direction: column; 
  width: 50%;
  height: max-content;
    padding: 25px ;
  margin: 10px; 
}
.submitReview .chooseOp{
display: flex;
margin: 10px;
} 
.submitReview .chooseOp button,.sendmessage{
    display: block;
    margin: 10px;
}
.cusReviews{
    justify-content: center;
    align-items: center;
}
.cusReviews .cusRating{
   flex-direction:column;
   padding:5px;
    width: 65%;
}
.cusReviews .reviewSection{
 width: 80%;
padding:10px;
}

.cusReviews .writeReview #date{
    color: gray;
    font-size: 10px;
    font-weight: 400;
margin-left: 30px; 
}
.reviewSection p{
    font-size: 15px;
}
}