@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(248, 244, 244);
}
.containerContact{
    display: flex;
    flex-direction: column;

}
.getTocuhContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.getTocuhContainer h1{
    margin-top: 10px;
    font-size: 25px;
      font-family:"Poppins";
      font-weight: 500;
}
.getTocuhContainer p{
 font-size: 20px;   
color: rgb(72, 70, 70);
text-align: center;
margin: 5px;
}
.informationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.informationContainer .contactInformation{
    display: flex;
    flex-direction: column;
}
.informationContainer .contactInformation .information{
    display: flex;
    flex-direction:row;
    background-color: white;
    padding: 20px;
    margin: 10px 10px 10px 10px !important;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
     font-family:"Poppins";
}
.informationContainer .contactInformation .information i{
font-size: 20px;
color: green;
margin: 16px;

}
.informationContainer .contactInformation .information p{
margin: 10px;
    color: gray;
    font-size: 15px;
    
}
.information .addressContainer .informationHead{
    color: black !important;
    font-weight: 500 !important;
    font-size: 15px;
    margin-top: 5px !important;
}
.bussinessTime{
    color: black !important;
    font-weight: 500 !important;
    font-size: 15px;
    position: relative;
    top: 10px;
}
.informationContainer .contactInformation .information .iconContainer{
display: flex;
flex-direction: column;
}
.informationContainer .contactInformation .information .addressContainer{
display: flex;
flex-direction: column;
}