@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');
*{
    margin: 0px;
    padding: 0px;
}
body{

  background-color: #e6ffe6;  
}
a{
text-decoration: none !important;
}
.header{
 
    display: flex;
    flex-direction: row;
   padding:10px;
    background-color: white;
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;

  position: fixed;
}
/* logo desing start */
.header img{
    width: 2%;
    height: 100%;
    border-radius: 6px;
    padding: 4px;
    border:  1px solid green;
    background-color: rgb(218, 248, 218);
    cursor: pointer;
    margin-top: 10px;
}
.header a{
    color:green;
  font-family:"Poppins";
    font-size: 18px;
    padding: 6px;
    margin: 5px;
    line-height:20px;
    cursor: pointer;
}
.header a span{
color:gray;
font-size: 13px;

}
/* logo design end */

/* ratting bar start */
.ratingContainer{
 display:inline-flex;

}
.ratingContainer span{
  color: gray !important;
  margin-top:80px;
  
}
.ratingContainer .checked{
  color: rgb(247, 201, 21) !important;
}
.ratingContainer p{
  font-size: 16px !important;
  margin-top:65px;
}
/* ratting bar end */
/* nav bar logo design started */
.header nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 20px;
}
.header nav ul li a{
    margin-left: 18px;
    padding: 10px;
    color: rgb(61, 61, 61);
    font-size: 16px;
    font-weight: none;
   cursor: pointer;
   text-transform: capitalize;
}
.header nav ul li a:hover{
    color: rgb(56, 200, 56);
    background-color: rgb(229, 255, 229);
    border-radius: 7px;
}
.active{
     color: rgb(56, 200, 56) !important;
    background-color: rgb(229, 255, 229);
    border-radius: 7px;
}
i{
    font-size: 20px;
}
.header nav input{
  background-color: rgb(242, 239, 239);
  border: none;
  padding: 14px 50px;
  border-radius: 8px;
  color: rgb(115, 114, 114);
  letter-spacing: 2px;
}
.fi-sr-phone-call{
    font-size: 16px;
    margin-right:17px;
    margin-top: 5px;
}
.header nav button{
    padding: 7px 15px;
    border:2px solid rgb(18, 179, 55);
    background-color:white;
    color: rgb(32, 158, 32);
    font-weight: bold;
    cursor:pointer;
    border-radius: 7px;
    margin-left: 10px;
    font-size: 17px;
    
}

.header nav button:hover{
color: black;
background-color: #ffffff;
}
.header nav .fi-sr-shopping-cart{
  border:2px solid rgb(18, 179, 55);
padding: 7px 12px;
border-radius: 8px;
font-size: 17px;
margin-left: 8px;
cursor: pointer;
}
.header nav .fi-sr-shopping-cart:hover{
color: black;
background-color: #ffffff;  
 color: rgb(32, 158, 32);
}

/* home section is start */

.bodyContainer{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.firstRow{
    display: flex;
    flex-direction: column;
}
.bodyContainer .secRow img{
border-radius: 7px;
margin-top: 50px;
cursor: pointer;
}
.bodyContainer .firstRow h1{
 font-family:"Poppins";
 margin-top: 10px;
 font-size: 50px;
 text-transform: capitalize ;
}
.bodyContainer .firstRow span{
  color: rgb(32, 158, 32); 
}
.bodyContainer .firstRow p{
color: rgb(49, 49, 49);
font-size: 18px;
padding: 10px;
line-height:31px;
 font-family:"Poppins";
}
.fi-ss-arrow-small-right{
    font-size: 18px;
    color: white;
}
.bodyContainer .firstRow .showNow{
padding: 9px 18px;
border: none;
border-radius: 7px;
background-color: rgb(32, 158, 32); 
color: white;
font-size: 15px;
font-weight: 500;
 font-family:"Poppins";
 cursor: pointer;
}
.bodyContainer .firstRow .showNow:hover{
background-color:#008000;
}
.bodyContainer .firstRow .Learn{
  padding: 8px 18px;
border:2px solid rgb(32, 158, 32);
border-radius: 7px;
background-color:white; 
color:  rgb(32, 158, 32);
font-size: 15px;
font-weight: 500;
 font-family:"Poppins";
 cursor: pointer;  
}
.bodyContainer .firstRow .Learn:hover{
 color: black;
}
.vertical-line{
    width: 90%;
    height: 1px;
    background-color:#b3ffb3;
    margin-top: 30px;
    margin-right:20px;
}  
.data-counter{
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.data-counter div{
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.data-counter div h2{
  color: #008000;
   font-family:"Poppins";
   font-weight: 500;
}
.data-counter div p{
  color: gray !important;
  font-size: 17px !important;
}
