*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
  
}
.productBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    padding: 10px;
}
.productBody span{
 color: rgb(32, 158, 32); 
}
.productBody h1{
font-size: 30px;
  font-family:"Poppins";
  margin-top: 90px;
}
.productBody p{
    font-size: 20px;
    color: rgb(79, 78, 78);
    padding: 20px;
}
.productBody .filter-tap{
    border-radius: 20px;
    background-color: rgb(228, 227, 227);
    
    width: 28%;
    justify-content: center;
    align-items: center;
 
}
.productBody .filter-tap .filter-btn{
    cursor: pointer;
    background-color: rgb(228, 227, 227);
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
      font-family:"Poppins";
      padding: 15px;
}
.productBody .filter-tap .filter-btn:hover{
    background-color: white;
    border-radius: 14px;
     padding: 8px 15px;
}
.filActive{
    background-color: white;
    border-radius: 14px;
     padding: 8px 15px;
}

/* producs section start */

.productGrid{
    display: grid;
  grid-template-columns:repeat(4,1fr);
gap: 15px;
    padding: 5px;
    margin: 15px;

    
}
.products{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 8px;
  font-family:"Poppins";
  justify-content: center;
  align-items: center;
  line-height:0px;
 background-color: white;
 cursor: pointer;
 position: relative;
 z-index: 1;    
}
.products:hover{
      box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}
.products img{
    width: 35%;
    height: 50%;
    margin: 15px;
}
.products .Pname{
 font-size: 20px;
 color: black;  
 margin-top: 15px;

}
.products .Pdes{
    font-size: 14px;
    color: rgb(77, 76, 76);
line-height: 20px;
width: 300px;

 padding: 2px !important; 
}
.products .reviews{
    display: flex;
    flex-direction: row;
    line-height: 0px;
    
}
.products .reviews .fa-star{
    color: rgb(240, 196, 4);
    margin-top: 10px;
}
.products .reviews .reviewRate{
  font-size: 15px;
    color: rgb(77, 76, 76);
    padding: 4px !important;
     margin-top: 17px
}
.products .reviews .reviewCount{
  font-size: 15px;
    color: rgb(77, 76, 76);
    padding: 4px !important;
     margin-top: 17px   
}
.products .Pprice{
    font-size: 19px;
    font-weight: 550;
 color: rgb(32, 158, 32); 
}
.products .productAdd{
    display: flex;
    flex-direction: row;
}
.products button{
     padding: 10px 55px;
    border: none;
    background-color:white;
    background-color: rgb(32, 158, 32);
    color: white;
    font-weight: 480;
    cursor:pointer;
    z-index: 10;
    border-radius: 7px;
 
    font-size: 16px;
    margin: 5px 0px 15px 5px !important;
    transition: .2s ease-out;
      font-family:"Poppins";
}
.products button:hover{
    background-color: green;
}
.fi-sr-shopping-cart{
    font-size: 17px;
    margin-right:13px;
    margin-top: 16px !important;
}
.productAdd span{
    margin: 7px 5px 17px 8px;
    color:black;
    border: 1px solid gray;
    padding:8px;
    border-radius: 6px;
    cursor: pointer !important;
}
.productAdd span:hover{
    background-color: rgb(240, 236, 236);
}
.offers{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 95%;
    padding: 10px !important;
    position:absolute;
    top: 0px;
    
}
.offers .offer{
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 215, 248);
    border-radius: 8px;
    height: 23px;
}
.offers .offer p{
    font-size: 12px !important;
    font-weight: 500;
 
    padding: 2px !important;
   margin: 10px 2px 10px 4px !important;
}
.offers .offer i{
font-size: 11px ;
margin: 5px 10px 0px 10px !important;  
 
font-weight:bold;
color:rgb(69, 4, 130) ;
}
.limted{
display: flex;
flex-direction: row;
  height: 23px;
background-color: rgb(239, 234, 234);
border-radius: 12px;

   
}
.limted i{
font-size: 11px !important;
margin: 6px 10px 0px 10px !important;  
font-weight: bold;
color: black;
}
.limted p{
 font-size: 12px !important; 
    padding: 2px !important;
    margin: 10px 2px 10px 4px !important;
  font-size: 13px;
  font-weight: 500;
}
.validate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.validate p{
    color: rgb(97, 96, 96);
    font-size: 15px;
}
.validate .date{
color: black;
font-size: 16px;
}
.offerCode{
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%; 
}
.offerCode p{
color: rgb(97, 96, 96);
font-size: 15px;
}
.offerCode .code{
   
    font-size: 15px; 
    color: #008000;
    padding: 10px !important;
    margin-top: 20 !important;
    border-radius: 8px;
    font-weight: 500;
}

/* mobile responsive deign start */
@media screen and (max-width:767px)and (max-width:960px){
.productBody .filter-tap{
    display: flex;
 flex-direction: row;
 width:80%;
 padding: 5px;
}
 .productBody .filter-tap button{
 display: block;
 font-size: 14px;
}
.productGrid{
  grid-template-columns:repeat(1,6fr);   
}

.products button{
     padding: 10px 55px;
     display: block;
    cursor: pointer;
    font-size: 14px;
 
}

}

