@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    margin:0px;
    padding: 0px;
}
.specialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
     font-family:"Poppins";
}
.specialContainer span{
     color: rgb(32, 158, 32); 
}
.specialContainer p{
    text-align: center;
    margin: 16px;
    font-size: 19px;
}
.offers{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    margin: 10px;
}
.offers .offer{
    border:  2px solid blueviolet;
    border-radius: 7px;
    
    background-color: rgb(242, 239, 245);
    font-size: 13px;
    color: blueviolet;
    font-weight: 600;
   
}
.offers .offer span{
      font-size: 13px;
       color: blueviolet; 
       margin-top: 1px;
}
.limted{
display: flex;
flex-direction: row;
border: 2px solid black;
background-color: rgb(239, 234, 234);
border-radius: 12px;
   
}
.limted i{
font-size: 11px;
margin-top: 10px;  
margin-left: 10px;  
}
.limted p{
 font-size: 12px; 
 padding: 2px !important;  
}