@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    margin:0px;
    padding: 0px;
}

.products .Pname{
    margin: 17px 0px 17px 0px !important;
   
}
.newsLetterBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(230, 226, 226);
    margin-top: 35px;
    padding: 10px 200px;
    border-radius: 18px;
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}
.newsLetterBody h2{
  font-family:"Poppins";
  font-size: 28px;
  font-weight: 500;
}
.newsLetterBody p{
     font-family:"Poppins"; 
        font-size: 16px !important;
        color: rgb(71, 71, 71);
}
.newsLetterBody input{
 padding: 15px 65px;
 border: 2px solid gray;
 border-radius: 9px; 
 font-size: 17px;
}
.newsLetterBody button{
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 550;
         font-family:"Poppins";
         margin: 5px; 
         cursor: pointer;
}
.newsLetterBody button:hover{
    background-color: rgb(12, 150, 12);
}
.newsLetterBody .agenta{
    font-size: 13px !important;

}
